<%= stylesheet_link_tag 'home', media: 'all' %>
<footer class="footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.9); color: white">
        © 2024 Education in 
        <a style="color: white" href="https://bic.com.de/">B.I.C.</a>
    </div>
</footer>
  